<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.jcsl.smith-cadence</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__WRAPPER__</string>
    <string>--workspace</string>
    <string>__WORKSPACE__</string>
    <string>--last</string>
    <string>10</string>
    <string>--log-dir</string>
    <string>__LOG_DIR__</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__PATH__</string>
    <key>CLAUDE_CODE_USE_BEDROCK</key>
    <string>1</string>
    <key>AWS_PROFILE</key>
    <string>bedrock</string>
    <key>AWS_REGION</key>
    <string>us-east-1</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>__HOUR__</integer>
    <key>Minute</key>
    <integer>__MINUTE__</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/launchd.err.log</string>
  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
